*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
@import url('https://fonts.googleapis.com/css2?family=Bungee&display=swap');
// variables
$background: rgb(30, 30, 30);
$background-cards: rgb(20, 20, 20);
$border-radius: 8px;
$heart-color: rgb(200, 0, 0);

body{
    background: $background;
    color: #f2f2f2;
    font-family: 'Bungee', cursive;
}

.container {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .cards{
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 20px;
        .card{
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-between;
            background: $background-cards;
            padding: 40px 20px;
            border-radius: $border-radius;
            transition: transform 500ms;
            &:hover{
                transform: scale(1.1);
                .bt-like{
                    animation-name: pulse 4s;
                    transform: scale(1.1);
                }
            }
            @keyframes pulse {
                0% {transform: scale(1.1);}
                25% {transform: scale(1.2);}
                75% {transform: scale(1.1);}
                100% {transform: scale(1.2);}
            }
            h2{
                margin-bottom: 2rem; 
            }
            .bt-like{
                border: none;
                background: none;
                color: $heart-color;
                cursor: pointer;
                margin-bottom: 2rem;  
            }
            
            .counter{
                font-size: 1.8rem;
            }
            
        }
    }
}